{% extends 'base.html' %}
{% block title %} Home Page {% endblock %}
{% block content %}

<div class="container">
	<!-- START HOME -->
	<section id="home" class="templatemo-home">
		<div class="container">
			<div class="row">
				<div class="col-md-2 col-sm-1"></div>
				<div class="col-md-8 col-sm-10">
					<h1 class="tm-home-title"><strong>Syed Meesam Ali</strong></h1>
					<h2 class="tm-home-subtitle">Technical Engineer</h2>
					<p class="text-primary">I am <strong>Technical Engineer</strong> having an Engineering Degree and 12 years of <strong>Technology</strong> experience in <strong>Civil Engg Rehabilitation</strong>, computer <strong>Programming</strong>, <strong>Machine Learning</strong> as well as <strong>Robotics.</strong>
					<a href="#work" class="btn btn-default smoothScroll tm-view-more-btn">Let's Begin</a>
				</div>
				<div class="col-md-2 col-sm-1"></div>
			</div>
		</div>
	</section>
	<!-- END HOME -->

	<!-- START work -->
	<section id="work" class="tm-padding-top-bottom-100">
		<div class="container">
			<div class="row">
				<div class="col-md-offset-1 col-md-11">
					<h2 class="title">My <strong>Work</strong></h2>						
				</div>
			</div>
		</div>
	</section>
	<!-- END work -->

	<!-- START PORTFOLIO -->
	<section id="portfolio" class="tm-portfolio">
		<div class="container">
			<div class="row">
				<div class="col-md-12 wow bounce">
					<div class="title">
						<h2 class="tm-portfolio-title">My <strong>Portfolio</strong></h2>
					</div>

					<!-- START ISO SECTION -->
					<div class="iso-section">
						<ul class="filter-wrapper clearfix">
							<li><a href="#" class="opc-main-bg selected" data-filter="*">All</a></li>
							<li><a href="#" class="opc-main-bg" data-filter=".excel">Excel</a></li>
							<li><a href="#" class="opc-main-bg" data-filter=".net">Dot-Net</a></li>
							<li><a href="#" class="opc-main-bg" data-filter=".web">Web</a></li>
							<li><a href="#" class="opc-main-bg" data-filter=".robotics">Robotics</a></li>
						</ul>
						<div class="iso-box-section">
							<div class="iso-box-wrapper col4-iso-box">
								<!-- Web development -->
								<div class="iso-box web col-md-3 col-sm-3 col-xs-12">
									<div class="portfolio-thumb"> <!-- Original Image size is 640 x 425 for reference -->
										<img src="../static/img/portfolio-web1.jpg" class="fluid-img" alt="portfolio img">
										<div class="portfolio-overlay">
											<h3 class="portfolio-item-title">Web Design</h3>
											<p>Website Design</p>
										</div>
									</div>
								</div>
								
								<!-- Robotics -->
								<div class="iso-box  robotics col-md-3 col-sm-3 col-xs-12">
									<div class="portfolio-thumb">
										<img src="../static/img/portfolio-rob1.JPG" class="fluid-img" alt="portfolio img">
										<div class="portfolio-overlay">
											<h3 class="portfolio-item-title">CAD</h3>
											<p>Custom CAD design in Solidworks / AutoCAD / Fusion 360 </p>
										</div>
									</div>
								</div>
								<div class="iso-box robotics col-md-3 col-sm-3 col-xs-12">
									<div class="portfolio-thumb">
										<img src="../static/img/portfolio-rob2.jpg" class="fluid-img" alt="portfolio img">
										<div class="portfolio-overlay">
											<h3 class="portfolio-item-title">Electronics</h3>
											<p>Electronics assembly for 3D printed parts</p>
										</div>
									</div>
								</div>
								
								<div class="iso-box robotics col-md-3 col-sm-3 col-xs-12">
									<div class="portfolio-thumb">
										<img src="../static/img/portfolio-rob3.jpg" class="fluid-img" alt="portfolio img">
										<div class="portfolio-overlay">
											<h3 class="portfolio-item-title">3D Printing</h3>
											<p>3D prints for various robotics projects</p>
										</div>
									</div>
								</div>
								<div class="iso-box robotics col-md-3 col-sm-3 col-xs-12">
									<div class="portfolio-thumb">
										<img src="../static/img/portfolio-rob4.jpg" class="fluid-img" alt="portfolio img">
										<div class="portfolio-overlay">
											<h3 class="portfolio-item-title">CAD</h3>
											<p>Custom design for robotics </p>
										</div>
									</div>
								</div>
								<div class="iso-box robotics col-md-3 col-sm-3 col-xs-12">
									<div class="portfolio-thumb">
										<img src="../static/img/portfolio-rob5.jpg" class="fluid-img" alt="portfolio img">
										<div class="portfolio-overlay">
											<h3 class="portfolio-item-title">Electronics</h3>
											<p>Rotating Camera Base</p>
										</div>
									</div>
								</div>

							</div>
						</div>
					</div> <!-- END OF ISO SECTION -->
				</div>
			</div> <!-- END OF ROW Class -->
		</div>
	</section>
	<!-- END PORTFOLIO -->

	<!-- START RESUME -->
	<section id="resume" class="tm-padding-top-bottom-100">
		<div class="container">
			<div class="row">
				<div class="col-md-6 col-sm-6">					
					<h2 class="title">My <strong>Profile</strong></h2>
					<p><span class="tm-info-label">Name</span> Syed Meesam Ali</p>
					<p><span class="tm-info-label">Address</span> Dubai, UAE</p>
					<p><span class="tm-info-label">Phone</span> +971 555 314269</p>
					<p><span class="tm-info-label">Email</span> meeghou8689@gmail.com</p>
					<p><span class="tm-info-label">Website</span> <a href="#" class="tm-red-text">
						www.syedmeesamali.pythonanywhere.com</a></p>
				</div>
				<div class="col-md-6 col-sm-6">
					<h2 class="title"><strong>Major</strong> Skills</h2>
					<p>Below is a brief list of my skill-set which I am able to utilize in order to produce a viable technical solution in reasonable amount of time.  
					<h4 class="tm-progress-label">Python Programming <small class="progress-percent-small">70%</small></h4>
					<div class="progress tm-progress">
						<div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="70" aria-valuemin="0" 
						aria-valuemax="100" style="width: 70%;"></div>
					</div>
					<h4 class="tm-progress-label">Web Development (Flask) <small class="progress-percent-small">70%
					</small></h4>
					<div class="progress tm-progress">
						<div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="70" aria-valuemin="0" 
						aria-valuemax="100" style="width: 70%;"></div>
					</div>
					<h4 class="tm-progress-label">CAD (AutoCAD, Solidworks and Blender) <small class="progress-percent-small">70%</small></h4>
					<div class="progress tm-progress">
						<div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="70" aria-valuemin="0" 
						aria-valuemax="100" style="width: 70%;"></div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- END RESUME -->

	
	<!-- START CONTACT -->
	<section id="contact" class="tm-contact">
		<div class="container">
			<div class="row">
				<div class="col-md-12">					
					<h2 class="title"><strong>Connect</strong>with me</h2>
					<hr>					
				</div>
				<div class="col-md-1 col-sm-1"></div>
				<div class="col-md-10 col-sm-10">
					<!-- Form to receive user input -->
					<form action="{{ url_for('save_form') }}" method="post" id="form" enctype="multipart/form-data">
						<div class="col-md-6 col-sm-6">
							<input id="name_val" name="name_val" class="form-control" type="text" minlength="3" 
							maxlength="20" placeholder="Your Name" required>
						</div>
						<div class="col-md-6 col-sm-6">
							<input id="email" name="email" class="form-control" type="email" minlength="9" 
							maxlength="100" placeholder="Your Email" required>
						</div>
						<div class="col-md-12 col-sm-12">
							<input id="title" name="title" class="form-control" type="text" placeholder="Your Subject"  
							minlength="5" maxlength="100" required>
							<textarea id="message" name="message" class="form-control" placeholder="Your Message" rows="6" 
							minlength="3" maxlength="1000" ></textarea>
						</div>
						<div class="col-md-offset-2 col-md-8 col-sm-offset-2 col-sm-8">
							<input class="form-control" id="submit_vals" type="submit" value="SHOOT MESSAGE">
						</div>
					</form>

					<!-- Alert Message for form submission -->
					<div class="col-md-offset-2 col-md-8 col-sm-offset-2 col-sm-8">
						<div id="successAlert" class="calert" style="display:none;">Success</div>
						<div id="errorAlert" class="calert-fail" style="display:none;">Failure</div>
					</div>
						
					 <!-- End of Alert -->
				</div>
				
			</div>
		</div>
	</section>

	<p>
		<!-- START SOCIAL -->
		<section id="social" class="tm-social">
			<div class="container">
				<div class="row">
					<div class="col-md-6 col-sm-6 wow rotateInUpLeft" data-wow-delay="0.3s">
						<div class="media facebook">
							<a href="#">
								<div class="media-object pull-left">
									<i class="fa fa-facebook"></i>
								</div>
								<div class="media-body">
									<h4 class="media-heading tm-social-title">Follow me on</h4>
									<h3>Social Facebook</h3>
								</div>
							</a>
						</div>
					</div>
					<div class="col-md-6 col-sm-6 wow rotateInUpLeft" data-wow-delay="0.6s">
						<div class="media twitter">
							<a href="https://twitter.com/syed_meesam_ali">
								<div class="media-object pull-left">
									<i class="fa fa-twitter"></i>
								</div>
								<div class="media-body">
									<h4 class="media-heading tm-social-title">Tweet me on</h4>
									<h3>Social Twitter</h3>
								</div>
							</a>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- END SOCIAL -->
		<div class="col-md-1 col-sm-1"></div>
			<div class="col-md-12 col-sm-12 text-center">
				<p>Copyright &copy; 2022 Syed Meesam Ali</p>
			</div>
{% endblock %}


<!-- Custom scripts for this page NOT included in BASE file -->
{% block _scripts %}
<script src="../static/js/contact.js?u={{ last_updated }}"></script>
{% endblock %}