{% extends 'base_blog.html' %}
{% block title %} Uploaded Files {% endblock %}

{% block article_content %}            
<p><br><br>
<h1>Upload Image</h1>
<br><br>

<!--Flash error and information messages-->
	<div class="row">
	   <div class="col-md-6">
		  {% with messages = get_flashed_messages(with_categories = true) %}
			{% if messages %}
			  {% for category, message in messages %}
			  <div class="alert alert-{{ category }}">
				<button type="button" class="m1-2 mb-2 close" data-dismiss="alert" aria-label="Close">
				<span aria-hidden="true">&times;</span>
				</button>
				{{ message }}
			  </div>
			  {% endfor %}
			{% endif %}
		  {% endwith %}
		</div> 
	</div>

<hr>

<form action="/upload-image" method="POST" enctype="multipart/form-data">
	<div class="form-group">
		<label>Select Image</label>
		<div class="custom-file">
			<input oninput="filesizeVal(this);" type="file" class="custom-file-input" name="image" id="image">
		</div>
	</div>
	<button type="submit" class="btn btn-primary">Upload Image</button>
</form>			
{% endblock %}

