* {
    font-family: Arial;
    box-sizing: border-box;
}

html, body, section {
    height: 100%;
}
body {
    text-align: left;
}

h1 {
    color: orangered;
}
.split {
    display: flex;
    flex-direction: column;
    justify-content: left;
}

.left {
    background: lightgoldenrodyellow;
    padding: 1 rem;
    flex: 1;
}

.right {
    background: lightgoldenrodyellow;
    padding: 1 rem;
    flex: 1;
}

.main_container {
    display: flex;
}

input[type=text] {
    border-style: solid;
    border-bottom: 2px solid red;
    background-color:yellow;
}
label {
    display: inline-block;
    width: 210px;
    text-align: left;
    background-color:lime;
}


.container {
	  text-align: left;
	  overflow: hidden;
	  width: 80%;
	  margin: 0 auto;
      display: table;
      padding: 0 0 8em 0;
}

