<!DOCTYPE html>
<html>
<head><h1 style="color: red">Data Entry Form</h1><title>
<meta charset="UTF-8" />
</title>
<style>
    body {
            background-color: powderblue;
            font-family: Arial, Helvetica, sans-serif;
        }
    h1   {color: blue;}
    p    {
            border-style: solid;
            color: red;
        }
    </style>
</head>
<bod>
    <p>
    <form method="post" action="/post_user">
        <label>Name: </label>
        <input id="name" name="name" type="text" />
        <label>Secret Message: </label>
        <input id="desc" name="desc" type="password" />
        <input type="submit" />
    </form>
    
</bod>

</html>