<!DOCTYPE html>
<html>
<head><h1 style="color: red">Data Entry Form</h1><title>
<meta charset="UTF-8" />
</title>
<style>
    body {
            background-color: powderblue;
            font-family: Arial, Helvetica, sans-serif;
        }
    h1   {color: blue;}
    p    {
            border-style: solid;
            color: red;
        }
    </style>
</head>
<bod>
    <p>
    <form method="post" action="/post_user">
        <label>Username: </label>
        <input id="username" name="username" type="text" />
        <label>Email: </label>
        <input id="email" name="email" type="text" />
        <input type="submit" />
    </form>
    <p> Below is list of previously entered data already stored in Database !
    <ol>
    {% for user in myUser %}
    <li>
       Name =  {{ user.username }} , Email address:  {{ user.email }}
    </li>
    {% endfor %}
    </ol>
</bod>

</html>